doctype

title Test Page
meta(name="description" content="Test Page")
link(rel="stylesheet", href="css/app.min.css", type="text/css")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")

body
  .container
        nav
          ul.header-list 
            li
              a.logo(href='#')  Lorem Ipsum  
            li
              a.providers(href='#')  Ipsum Salum 
            li
              a.contact(href='tel:1-111-111-1111')  1-111-111-1111
        section.main-area
          h1 Lorem Ipsum
          p
            |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, doloremque ut repellendus obcaecati numquam deserunt distinctio, earum nihil quam vero nam eum neque architecto eos ipsam, voluptate nostrum libero praesentium.
        section.secondary-area.bounce-up.subject
          .row
            aside.left.animation-element.slide-left
              h3  Lorem Lorem Lorem? 
              p
                | Sed vitae est dapibus, henderit nisl sed,  vestibulum augue. Vivamus nec neque ornare, vulputate purus eu, aliquet leo.  Interger luctus purus ulitricies nisie vestibulum pharetra.  Mauris suscipit, massa et facilisis elefend, lorem quam dignissim urna, semper luctus dui mi in eros
              button.primary-btn  CTA 
            aside.right.animation-element.slide-right
              img(src='http://placehold.it/350x350')
        section.third-area
        section.fourth-area
          .row
            h3  Lorem Lorem Lorem? 
            p
              | Sed vitae est dapibus, henderit nisl sed,  vestibulum augue. Vivamus nec neque ornare, vulputate purus eu, aliquet leo.  Interger luctus purus ulitricies nisie vestibulum pharetra.  Mauris suscipit, massa et facilisis elefend, lorem quam dignissim urna, semper luctus dui mi in eros
            button.primary-btn  CTA 
            button.secondary-btn  CTA 
        section.fifth-area
        section.sixth-area
          .row
            aside.left.animation-element.slide-left
              img(src='http://placehold.it/350x350')
            aside.right.animation-element.slide-right
              h3  Lorem Lorem Lorem?
              p
                | Sed vitae est dapibus, henderit nisl sed,  vestibulum augue. Vivamus nec neque ornare, vulputate purus eu, aliquet leo.  Interger luctus purus ulitricies nisie vestibulum pharetra.  Mauris suscipit, massa et facilisis elefend, lorem quam dignissim urna, semper luctus dui mi in eros
              button.primary-btn  CTA 
        footer
          h3  Lorem ipsum dolor sit amet, consectetur adipisicing elit 
          p
            | Made with 
            img.pulse(src='img/Heart_icon_red_hollow.svg')
            |  in Chicago
      script(src="./js/min/index.min.js")
      





